<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982672374435-cj1bvioq2ca0qa27qridtmtjl2t3a3hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982672374435-cj1bvioq2ca0qa27qridtmtjl2t3a3hi</string>
	<key>API_KEY</key>
	<string>AIzaSyAACQ5mJc-dh6rxIte9yYyJq2YR9RVnIh8</string>
	<key>GCM_SENDER_ID</key>
	<string>982672374435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.palsHand</string>
	<key>PROJECT_ID</key>
	<string>pal-s-hand-8cd31</string>
	<key>STORAGE_BUCKET</key>
	<string>pal-s-hand-8cd31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982672374435:ios:b81b0bb0cb6b947c569d16</string>
	<key>DATABASE_URL</key>
	<string>https://pal-s-hand-8cd31.firebaseio.com</string>
</dict>
</plist>